@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.body {
  font-family: 'Roboto', sans-serif;
}

.appLight {
  background-color: white;
  color: black;
}

.appDark {
  background-color: #212121;
  color: #BFBFBF;
}

/*NAVBAR LIGHT*/

.header {
  background-color: #00008B;
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
}

.appDark .header {
  background-color: #404040;
}

.brand {
  width: 300px;
  font-size: 3rem;
  color: #fff;
  font-weight: 200;
  text-align: center;
  align-self: center;
  text-decoration: none;
}

.appDark .brand {
  color: #BFBFBF;
}

.contenedorMenu {
  display: flex;
  justify-content: center;
}

.menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-size: 2rem;
  color: #fff;
  font-weight: 200;
  padding-right: 20px;
}

.appDark .menu {
  color: #BFBFBF;
}

.appLight .menu :link {
  color: white;
}

.appDark .menu :link {
  color: #BFBFBF;
}

.appLight .menu :visited {
  color: white;
}

.appDark .menu :visited {
  color: #BFBFBF;
}

.menuLista {
  list-style: none;
  text-decoration: none;
}

.buttonMode {
  height: 100px;
  color: white;
}

.appDark .buttonMode {
  color: #BFBFBF;
}

/*HOME*/

.titles {
  text-align: center;
  font-size: 4rem;
  padding: 50px;
}

/* CARDS */

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  padding-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 370px;
  width: 220px;
  border-radius: 10px;
  align-content: center;
  font-size: 1.2rem;
}

.appDark .card {
  background-color: #808080;
}

.button {
  background-color: transparent;
  border: none;
}

.imgCard {
  height: 220px;
  width: 230px;
}

.buttonDetalle {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  background-color: #d8afb7;
}

.appDark .buttonDetalle {
  background-color: #643e45;
  color: #BFBFBF;
}

/*DETAILS*/

.detail {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 100px;
  justify-items: center;
  justify-content: center;
}

.imgDetail {
  width: 500px;
  height: 500px;
}

.datosDetail {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.datosDetail h2 {
  font-size: 2rem;
}

/*FAVS*/

.card-grid-favs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
}

/*CONTACT*/

.contact {
  height: 495px;
}

.contact .titles {
  padding: 50px 50px 20px 50px;
}

.pContact {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 40px;
}

.formContact {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 30px;
}

.formContact form {
  height: 250px;
}

.formContact form label {
  font-size: 1.6rem;
}

.formContact form input {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.buttonsForm {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttonForm {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  background-color: #d8afb7;
}

.appDark .buttonForm {
  background-color: #643e45;
  color: #BFBFBF;
}

.mensajesForm {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.msjGracias {
  font-size: 1.5rem;
  color: green;
  text-align: center;
}

.msjError {
  font-size: 1.5rem;
  color: red;
  text-align: center;
}

.appDark .msjError {
  color: rgb(160, 44, 44);
}

/*FOOTER*/

.footer {
  background-color: #00008B;
  height: auto;
  width: auto;
  color: #fff;
}

.appDark .footer {
  background-color: #404040;
  color: #BFBFBF;
}

.icons {
  padding-bottom: 10px;
}

.iconsFooter {
  width: 15px;
  height: 15px;
}

.footerTitle {
  font-size: 1.5rem;
}